# Dependencias
node_modules/

# Build
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.*

# VSCode
.vscode/

# JetBrains
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Cobertura
coverage/

# Cache
.cache/